
body {
	@hello: "world";
	e1: e("this is simple");
	e2: e("this is simple", "cool lad");
	e3: e(1232);
	e4: e(@hello);
	e5: e("one" + 'more');

	t1: ~"eating rice";
	t2: ~"string cheese";
	t3: a b c ~"string me" d e f;
	t4: ~"string @{hello}";
}

.class {
	filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.png')";
}
