body {
  color: "hello world";
  num-basic: 5.1666666666667;
  num-floor: 5px;
  num-ceil: 6px;
  num2: 0.66666666666667;
  num2-round: 1;
  num2-floor: 0;
  num2-ceil: 1;
  round-lit: 3px;
  rgba1: #ff112233;
  rgba2: #992c3742;
  argb: #992c3742;
}
format {
  format: "rgb(32, 128, 64)";
  format-string: "hello world";
  format-multiple: "hello earth 2";
  format-url-encode: 'red is %A';
  eformat: rgb(32, 128, 64);
}
#functions {
  str1: true;
  str2: false;
  num1: true;
  num2: true;
  num3: true;
  num4: false;
  col1: true;
  col2: false;
  col3: true;
  col4: true;
  key1: true;
  key2: false;
  px1: true;
  px2: false;
  per1: true;
  per2: false;
  em1: true;
  em2: false;
  ex1: 2;
  ex2: 1;
  ex3: extract(1,1);
  ex4: 2;
  pow: 16;
  pi: 3.1415926535898;
  mod1: 4;
  mod2: 4px;
  abs1: 5px;
  abs2: 5%;
  abs3: 10;
  min1: 2px;
  min2: 1;
  max1: 20%;
  max2: 10;
  max-convert: 1cm;
  min-convert: 1px;
  tan: 1.5574077246549;
  cos: 0.54030230586814;
  sin: 0.8414709848079;
  atan: 0.78539816339745rad;
  acos: 0rad;
  asin: 1.5707963267949rad;
  sqrt: 2.8284271247462;
}
#convert {
  px2cm: 0.02645833cm;
  px2mm: 0.26458333mm;
  px2in: 0.01041667in;
  px2pt: 0.75pt;
  px2pc: 0.0625pc;
  cm2px: 37.79527559px;
  in2px: 96px;
  cm2in: 0.39370079in;
  s2ms: 1000ms;
  ms2s: 0.001s;
  deg2rad: 0.01745329rad;
  rad2deg: 57.29577951deg;
  deg2turn: 0.00277778turn;
  turn2deg: 360deg;
  deg2grad: 1.11111111grad;
  grad2deg: 0.9deg;
}
#unit {
  unit-lit: 10;
  unit-arg: 10s;
  unit-arg2: 10em;
  unit-math: 7.407%;
}
