body {
  color: "hello world";
  num-basic: 5.1666666666667;
  num-floor: 5px;
  num-ceil: 6px;
  num2: 0.66666666666667;
  num2-round: 1;
  num2-floor: 0;
  num2-ceil: 1;
  round-lit: 3px;
  rgba1: #ff112233;
  rgba2: #992c3742;
  argb: #992c3742;
}
format {
  format: "rgb(32, 128, 64)";
  format-string: "hello world";
  format-multiple: "hello earth 2";
  format-url-encode: 'red is %A';
  eformat: rgb(32, 128, 64);
}
#functions {
  str1: true;
  str2: false;
  num1: true;
  num2: true;
  num3: true;
  num4: false;
  col1: true;
  col2: false;
  col3: true;
  col4: true;
  key1: true;
  key2: false;
  px1: true;
  px2: false;
  per1: true;
  per2: false;
  em1: true;
  em2: false;
  ex1: 2;
  ex2: 1;
  ex3: extract(1,1);
  ex4: 2;
  pow: 16;
  pi: 3.1415926535898;
  mod: 4;
  tan: 1.5574077246549;
  cos: 0.54030230586814;
  sin: 0.8414709848079;
  atan: 0.78539816339745rad;
  acos: 0rad;
  asin: 1.5707963267949rad;
  sqrt: 2.8284271247462;
}
#unit {
  unit-lit: 10;
  unit-arg: 10s;
  unit-arg2: 10em;
  unit-math: 7.407%;
}
