body {
  color:"hello world";
  color:hello world;
  strings:this is a color #112233 and here is my string hello world;
  quoted:"#112233" "a list of keywords becomes a string";
  border:"#112233" 5px;
  height:5.1666666666667;
  height:5px;
  width:0.66666666666667;
  width:1;
  width:0;
  color:#00112233;
  color:#992c3742;
}