body {
  color: #ff0000;
  color: #ffffff;
  color: #000000;
  color: #996d33;
  color: rgba(153,109,51,0.3);
  lighten1: #ffffff;
  lighten2: #7c8df2;
  lighten3: rgba(222,140,129,0.5);
  darken1: #d6d6d6;
  darken2: #0d1e81;
  darken3: rgba(18,42,185,0.5);
  saturate1: #f1eded;
  saturate2: #0025fe;
  saturate3: rgba(10,44,244,0.5);
  desaturate1: #efefef;
  desaturate2: #3349cb;
  desaturate3: rgba(36,62,218,0.5);
  spin1: #efefef;
  spin2: #2d17e7;
  spin3: rgba(59,23,231,0.5);
  spin2: #efefef;
  spin3: #1769e7;
  spin4: rgba(23,119,231,0.5);
  one1: #abcdef;
  one2: #abcdef;
  two1: rgba(2,159,35,0.9);
  two2: rgba(2,159,35,0.9);
  three1: rgba(1,2,3,0.6);
  three2: rgba(1,2,3,0.6);
  four1: rgba(1,2,3,0);
  four2: rgba(1,2,3,0);
  hue: 282;
  sat: 33;
  lit: 12;
  what: #dff1da;
  zero1: #343434;
  zero2: #003468;
  zero3: #000000;
  zero4: #ffffff;
  zero5: #000000;
  zero6: #ffffff;
  zero7: #ffffff;
  zero8: #ffffff;
  zero9: #1d5612;
  zeroa: #56124b;
  zerob: #000000;
  zeroc: #ffffff;
}
alpha {
  g1: 0;
  g2: 1;
}
fade {
  f1: rgba(255,0,0,0.5);
  f2: rgba(255,255,255,0.2);
  f3: rgba(34,23,64,0.5);
}
.mix {
  color1: #808080;
  color2: #808080;
  color3: rgba(6,3,2,-0.25);
}
.contrast {
  color1: #ff0000;
  color2: #0000ff;
  color3: #ffffff;
  color4: #000000;
  color5: #000000;
}
.percent {
  per: 50%;
}
.colorz {
  color1: #ebebeb;
  color2: #ff9100;
  color3: #000000;
}
body {
  start: #fcf8e3;
  spin: #fcf4e3;
  chained: #fbeed5;
  direct: #fbefd5;
}
pre {
  spin: #f2dee1;
}
dd {
  background-color: #f5f5f5;
}
.ops {
  c1: #4d0000;
  c2: #004000;
  c3: #020002;
  c4: #ffffff;
  c5: #fb8173;
  c6: 132 / #ff0000;
  c7: 132 - #ff0000;
  c8: 132- #ff0000;
}
.transparent {
  r: 0;
  g: 0;
  b: 0;
  a: 0;
}
