body {
  e1: this is simple;
  e2: this;
  e3: this is simple;
  e4: 1232;
  e5: world;
  e6: onemore;
  e7: ;
  t1: eating rice;
  t2: string cheese;
  t3: a b c string me d e f;
  t4: string world;
}
.class {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.png');
}
