dd {
  simple: yellow;
}
b {
  something: red;
  something-complex: blue cool;
  something-complex: blue birthday;
}
img {
  another: green;
  flipped: teal;
}
body {
  yeah-number: purple 232px;
  yeah-pixel: silver;
  yeah-number: purple 232;
}
div {
  something-complex: blue true;
}
link {
  color: true red;
  color: true #fff;
  color: true #fffddd;
  color: true #000000;
  color: true rgba(0,0,0,0.34);
}
