@import url("not-found");
@import url("something.css") media;
@import url("something.css") media;
@import url("something.css") media, screen, print;
b {
  color: maroon;
  padding: 16px;
}
body {
  line-height: 10em;
}
body div.bright {
  color: red;
}
body div.sad {
  color: blue;
}
div b {
  color: fuchsia;
  padding: 16px;
}
.one {
  color: blue;
}
.one h2 {
  background: url("../images/logo.png") no-repeat;
}
.two h2 {
  background: url("../images/logo.png") no-repeat;
}
#merge-import-mixins .just-a-class {
  background: red;
}
#merge-import-mixins .just-a-class {
  background: blue;
}
#merge-import-mixins div {
  background: red;
  background: blue;
}
