@media screen, 3D {
  P { color:green; }
}
@media print {
  body { font-size:10pt; }
}
@media screen {
  body { font-size:13px; }
}
@media screen, print {
  body { line-height:1.2; }
}
@media all and (min-width: 0px) {
  body { line-height:1.2; }
}
@media all and (min-width: 0) {
  body { line-height:1.2; }
}