@charset "utf-8";
color:"aaa, bbb";
.topbar { background:url(/assets/images/test/topbar.png); }
.hello { test:empty-function("/assets/images/test/",40%,to(#fff)); }
.css3 { background-image:-webkit-gradient(linear,0% 0%,0% 90%,from(#e9a000),to(#a37000)); }
.test, .world {
  border:1px solid red;
  color:url(http://mage-page.com);
  string:"hello /* this is not a comment */";
  world:"// neither is this";
  string:'hello /* this is not a comment */';
  world:'// neither is this';
  what-ever:100px;
  background:url(/*no comment here*/);
}
.urls {
  background:url("http://google.com");
  background:url(http://google.com);
  background:url("http://google.com");
}
.cool { color:"aaa, bbb"; }
.span-17 { float:left; }
.span-17 { width:660px; }
.x {
  float:left;
  width:660px;
}
.hi pre { color:red; }
.hi pre { color:blue; }
.rad pre { color:red; }
.rad pre { color:blue; }
@page :left {
  margin-left:4cm;
}
@page :right {
  margin-left:3cm;
}
@page {
  margin:2cm;
}