@charset "utf-8";
.topbar { background:url(/assets/images/test/topbar.png); }
.hello { test:empty-function("/assets/images/test/",40%,to(#ffffff)); }
.css3 { background-image:-webkit-gradient(linear,0% 0%,0% 90%,from(#e9a000),to(#a37000)); }