#but1 {
  background-image: url('1.png');
}
#but2 {
  background-image: url('2.png');
}
#but3 {
  background-image: url('3.png');
}
#but4 {
  background-image: url('4.png');
}
#but5 {
  background-image: url('5.png');
}
