body div other world { height:50; }
div other world { height:50; }
.test { height:10; }
.test .test { height:11; }
.test .test .test { height:12; }
pre { height:10; }
pre .test { height:11; }
pre .test .test { height:12; }