.variables {
  width:14cm;
  height:24px;
  margin-top:-20px;
  margin-bottom:30px;
  color:#888899;
  background:#6c94be;
  font-family:"Trebuchet MS", Verdana, sans-serif;
  margin:3px;
  font-size:10px/12px;
  font-size:120%/120%;
}
.external {
  color:#888888;
  border:1px solid rgb(20%,15%,80%);
  background:rgba(23,68,149,0.5);
  padding:4px;
}
division:5px;
division:5px;
subtract:10 "hello";
subtract:2 -2;
addition:10;
addition:10;
math:20;